<!DOCTYPE html>
<html lang="zh">

<head>
    <title>个人信息</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- 引入页面样式 -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style_user.css">
    <link rel="stylesheet" href="remixicon/remixicon.css">
</head>

<body>
    <div id="app">
        <!-- 顶栏 -->
        <div class="TopBar">
            <div class="title" @click="jump" data-page="index">戏剧服装商店</div>
            <div class="flex-1"></div>
            <!-- 用户工具栏 -->
            <div class="ToolBar">
                <!-- 用户头像与昵称 -->
                <div class="user" @click="jump" data-page="user">
                    <img class="avatar" :src="UserInfo.Portrait">
                    <div>{{UserInfo.UserID}}</div>
                </div>

                <button @click="logout">退出</button>
            </div>

        </div>

        <div class="Content Home">
            <!-- 分类菜单 -->
            <div class="Navigation">
                <div class="Menu" v-for="Item in Menu" @click="switchMenu" :data-menu="Item.Title"><i
                        :class="Item.Icon"></i>
                    {{Item.Title}}</div>
            </div>
            <!-- 内容 -->
            <div class="Product flex-1">
                <div class="subtitle">{{MenuActive}}</div>

                <div v-if="MenuActive == '个人信息'" class="userinfo">
                    <label for="imgFile">
                        <img class="avatar" :src="UserInfo.Portrait" v-if="NewUserAvatar.Img == null">
                        <img class="avatar" :src="NewUserAvatar.Img" v-else>
                    </label>
                    <input id="imgFile" class="hidden" type="file" accept="image/*" @change="changeImg">

                    <div class="name">{{UserInfo.UserID}}</div>
                    <div class="InputGroup Margin">
                        <span><i class="ri-phone-line"></i></span>
                        <input type="text" placeholder="您的电话号码" v-model="NewUserInfo.Phone">
                    </div>
                    <div class="InputGroup Margin">
                        <span><i class="ri-mail-line"></i></span>
                        <input type="text" placeholder="您的邮箱地址" v-model="NewUserInfo.EMail">
                    </div>

                    <div class="InputGroup Margin">
                        <span><i class="ri-lock-line"></i></span>
                        <input type="password" placeholder="请输入新密码（选填）" v-model="NewUserInfo.Password">
                    </div>
                    <div class="Btn_Frame Margin">
                        <button class="Btn_Confirm" @click="setUserInfo">修改信息</button>
                    </div>
                </div>

                <div v-if="MenuActive == '订单列表'">
                    <!-- 搜索栏 -->
                    <div class="InputGroup Margin">
                        <span><i class="ri-search-2-line"></i></span>
                        <input type="text" placeholder="订单搜索 : 搜索商品名称" @input="searchOrder">
                    </div>

                    <!-- 存在订单则显示 -->
                    <div v-if="OrderList.length != 0">

                        <!-- 订单的搜索结果 -->
                        <div v-if="OrderList_Search_Enable">
                            <div class="order" v-for="Item in OrderList_Search">
                                <div class="info">
                                    <span class="flex-1">{{Item.Time}}</span>
                                    <span>订单号:{{Item.OrderID}}</span>
                                </div>
                                <div class="item" v-for="P in Item.ProductList">
                                    <img :src="P.Image">
                                    <div>{{P.Name}}</div>
                                    <div>x{{P.Num}}</div>
                                    <div>￥{{P.Price * P.Num}}</div>
                                </div>
                                <div class="total">￥{{Item.Total}}</div>
                                <div class="contact">
                                    <div>收货人：{{Item.Contact_Name}}</div>
                                    <div>联系电话：{{Item.Contact_Phone}}</div>
                                    <div>收货地址：{{Item.Contact_Address}}</div>
                                </div>
                            </div>
                            <div v-if="OrderList_Search.length == 0">搜索不到该订单哦</div>
                        </div>

                        <!-- 全部订单 -->
                        <div v-else>
                            <div class="order" v-for="Item in OrderList">
                                <div class="info">
                                    <span class="flex-1">{{Item.Time}}</span>
                                    <span>订单号:{{Item.OrderID}}</span>
                                </div>
                                <div class="item" v-for="P in Item.ProductList">
                                    <img :src="P.Image">
                                    <div>{{P.Name}}</div>
                                    <div>x{{P.Num}}</div>
                                    <div>￥{{P.Price * P.Num}}</div>
                                </div>
                                <div class="total">￥{{Item.Total}}</div>
                                <div class="contact">
                                    <div>收货人：{{Item.Contact_Name}}</div>
                                    <div>联系电话：{{Item.Contact_Phone}}</div>
                                    <div>收货地址：{{Item.Contact_Address}}</div>
                                </div>
                                <div class="Btn_Frame Margin">
                                    <button class="Btn_Confirm">付款</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div v-else>您还没有订单哦</div>
                </div>

                <div v-if="MenuActive == '地址管理'">
                    <!-- 存在地址则显示 -->
                    <div v-if="AddressList.length != 0">
                        <div class="address" v-for="Item in AddressList">
                            <div><i class="ri-user-line"></i>{{Item.Name}}</div>
                            <div><i class="ri-phone-line"></i>{{Item.Phone}}</div>
                            <div><i class="ri-building-line"></i>{{Item.Address}}</div>
                            <div class="btn_del" :data-id="Item.ID" @click="delAddress">删除</div>
                        </div>
                    </div>
                    <div v-else>您还没有添加过地址哦</div>

                    <div class="subtitle">新增地址</div>
                    <div>
                        <div class="InputGroup Margin">
                            <span><i class="ri-user-line"></i></span>
                            <input type="text" placeholder="联系人姓名" v-model="NewContact.Name">
                        </div>
                        <div class="InputGroup Margin">
                            <span><i class="ri-phone-line"></i></span>
                            <input type="text" placeholder="联系人电话" v-model="NewContact.Phone">
                        </div>
                        <div class="InputGroup Margin">
                            <span><i class="ri-building-line"></i></span>
                            <input type="text" placeholder="联系人地址" v-model="NewContact.Address">
                        </div>
                        <div class="Btn_Frame Margin">
                            <button class="Btn_Confirm" @click="newAddress">添加</button>
                        </div>
                    </div>
                </div>

                <div v-if="MenuActive == '我的收藏'">
                    <div v-if="FollowList.length != 0">
                        <div class="follow head">
                            <div></div>
                            <div>名称</div>
                            <div>单价</div>
                        </div>
                        <div :class="Item.Del ? 'follow del' : 'follow'" v-for="Item in FollowList">
                            <img :src="Item.Image">
                            <div>{{Item.Name}}</div>
                            <div>￥{{Item.Price}}</div>
                            <div class="btn_del" :data-id="Item.ID" @click="delFollow">取消收藏</div>
                            <div class="deleted" v-if="Item.Del">该商品已经被删除</div>
                        </div>
                    </div>
                    <div v-else>您还没有收藏商品哦</div>
                </div>

                <div v-if="MenuActive == '购物车'">
                    <div v-if="CartList.length != 0">
                        <div class="cart head">
                            <div></div>
                            <div>名称</div>
                            <div>数量</div>
                            <div>单价</div>
                            <div>总价</div>
                        </div>

                        <div :class="Item.Del ? 'cart del' : 'cart'" v-for="(Item,Index) in CartList">
                            <img :src="Item.Image">
                            <div>{{Item.Name}}</div>

                            <div class="NumControl">
                                <i class="ri-add-circle-line" @click="num_add" :data-index="Index"></i>
                                <span>{{Item.Num}}</span>
                                <i class="ri-indeterminate-circle-line" @click="num_remove" :data-index="Index"></i>
                            </div>

                            <div>￥{{Item.Price}}</div>
                            <div>￥{{Item.Price * Item.Num}}</div>
                            <div class="btn_del" :data-id="Item.ID" @click="delCart">删除</div>
                            <div class="deleted" v-if="Item.Del">该商品已经下架</div>
                        </div>


                        <div class="subtitle">收货地址</div>
                        <div class="InputGroup Margin">
                            <span><i class="ri-building-line"></i></span>
                            <select id="AddressSelector">
                                <option v-for="Item in AddressList" :data-id="Item.ID">
                                    {{Item.Name}} | {{Item.Phone}} | {{Item.Address}}
                                </option>
                            </select>
                        </div>

                        <div class="Btn_Frame Margin">
                            <button class="Btn_Confirm" @click="newOrder">一键下单</button>
                        </div>
                    </div>
                    <div v-else>您的购物车还没有商品哦</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 引入vue.js -->
    <script src="./js/vue.min.js"></script>
    <script src="./js/config.js"></script>
    <script src="./js/user.js"></script>
</body>

</html>